.advantageContainer{
    background-color: yellow;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.descriptionBox{
    background-color: purple;
    height: 30px;
    width: 100%;
    bottom: 0px;
    position: relative;
}

.innerDiv{
    margin: auto;
    border: 1px solid white;
}